@model Emeal.Model.ViewModels.LoginViewModel

@{
    ViewBag.Title = "LoginForm";
}

<h3>Login</h3>

@using (Html.BeginUmbracoForm<Emeal.Controllers.UserController>("Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="margin:20px 0px 20px 0px;">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <a href="/user/forgot-password/">Forgot Password?</a>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @if(TempData["ErrorMessage"]!= null)
                {
                <div class="alert-danger"> @TempData["ErrorMessage"] </div>
                }
                <input type="submit" value="Login" class="btn btn-success btn-lg btn-block" />
            </div>
        </div>
        <p>If you have no account with us, please <a href="/user/registration" class="mercado-hyperlink--primary"><strong>Join now</strong></a></p>
    </div>
}