@model Emeal.Model.ViewModels.AddressListViewModel

<div class="card border-dark mb-3">
    <div class="card-header">@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery") Address</div>
    <div class="card-body text-dark">
        @foreach (var address in Model.Addresses)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")AddressRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                        @address.AddressLine
                </label>
            </div>
        }
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                        <a class="" data-toggle="collapse" href="#@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample" role="button" aria-expanded="false" aria-controls="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample">
                            Add Address
                        </a>
                    <div class="collapse" id="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample">
                        <div class="card card-body">
                            @{
                                Html.RenderAction("AddressForm", "CheckOut",new {id=Model.AddressType});
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>