@model Emeal.Model.ViewModels.AddressListViewModel

<div class="card border-dark">
    <div class="card-header">@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery") Address</div>
    <div class="card-body text-dark">
        @foreach (var address in Model.Addresses)
        {
            var addressType = Model.AddressType == Enums.AddressType.BillingAddress ? "Billing" : "Delivery";
            <div class="row" id="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")">
                <div class="radio col-md-10 ">
                    <label>
                        <input OnClick="ChangeAddress('@addressType', @address.Id)" type="radio" name="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")" checked>
                        @address.AddressLine
                    </label>
                </div>
                <div class="col-md-2">
                    @using (Html.BeginUmbracoForm<Emeal.Controllers.CheckOutController>("DeleteAddress"))
                    {
                        <input type="hidden" id="id" name="id" value="@address.Id" />
                        <input type="submit" class="btn btn-danger btn-action btn-delete" value="-" />
                    }
                </div>
            </div>

        }
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a class="" data-toggle="collapse" href="#@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample" role="button" aria-expanded="false" aria-controls="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample">
                        Add Address
                    </a>
                    <div class="collapse" id="@(Model.AddressType== Enums.AddressType.BillingAddress?"Billing":"Delivery")collapseExample">
                        <div class="card card-body">
                            @{
                                Html.RenderAction("AddressForm", "CheckOut", new { id = Model.AddressType });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
